.data-table thead th {
  padding: 15px 10px;
}

.data-table tbody td {
  padding: 8px 10px;
}

.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
     display: inline-block;
}

.dataTables_length {
	width: 60px;
	margin: 10px 0px 0px 15px;
}

.dataTables_filter {
	width: 40%;
	float: right;
	margin: 10px 15px 0px 0px;
}

.dataTables_info {
     margin: 10px 0px 15px 15px;
     width: 76%;
}

table.dataTable thead .sorting_desc_disabled {
	background-image:url("../img/datatables/sort_desc_disabled.png");
}

table.dataTable thead .sorting {
	background-image:url("../img/datatables/sort_both.png");
}

table.dataTable thead .sorting_asc {
	background-image:url("../img/datatables/sort_asc.png");
}

table.dataTable thead .sorting_desc {
	background-image:url("../img/datatables/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
	background-image:url("../img/datatables/sort_asc_disabled.png");
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
	cursor:pointer;
	*cursor:hand;
	background-repeat:no-repeat;
	background-position:center right
}

a.current {
     background-color: #556974;
     color: white;
     padding: 5px;
}

a.disabled {
     color: #999;
     cursor: default;
}

.paginate_button {
     color: #444;
     margin: 0 10px;
     cursor: pointer;
}
