/* For global styles shared on all pages. */

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f4f4f4;
}

.page-footer {
     padding-top: 0px;
}

main {
  flex: 1 0 auto;
}

.modal-header {
  display: inline-block;
}

.close-popup-btn {
  line-height: 110%;
  margin: 1.0933333333rem 0 0.656rem 0;
}

table.highlight > tbody > tr:hover {
    background-color: rgba(242, 242, 242, 0.8);
}

.prompt-modal {
  width: 25%;
  top: 30%;
}

.tab a.active {
     background-color: #2632381a !important;
}

.tabs .tab a:hover {
     background-color: #2632381a !important;
}

.tabs .indicator {
     background-color: #68a2a4 !important;
}

/* Remove Firefox Borders */
::-moz-focus-inner {
     border: 0;
}

:focus {
     outline: none;
}
